<p class = "one">Create A New Listing</p>
<form method="POST" id = "static-form" enctype="multipart/form-data">
  <label for="name">Product Name:</label>
  <input type="text" id="name" name="name"><br><br>

  <label for="category">Category:</label>
  <input type="text" id="category" name="category"><br><br>

  <label for="description">Description:</label>
  <input type="text" id="description" name="description"><br><br>

  <label for="price">Price:</label>
  <input type="text" id="price" name="price"><br><br>


  <label for="picture">Picture:</label>
  <input type="file" name = "picture" id="picture" accept = 'image/*' onchange = 'openFile(event)' class="picture"><br><br>


  <img id='output' name = "output"><br><br>

  <input type="submit" value="Post" id = "myFormSubmit">
  
</form>
<p id = "message" class = {{class}}>{{message}}</p>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src = "../../public/js/newListing.js "></script>