<h1></h1>
<form method="POST" action ="/home">
  <label for="product">Product Name:</label>
  <input type="text" id="product" name="product"><br><br>
  <label for="price">Price:</label>
  <input type="text" id="price" name="price"><br><br>
  <label for="description">Description:</label>
  <input type="text" id="description" name="description"><br><br>
  <label for="picture">Picture:</label>
  <input type="image" id="picture" name="picture"><br><br>
  

  <input type="submit" value="Post">
</form>