


<section>
    <div class="content">
       <h1>Thanks {{user.username}} for shopping with us!</h1>
    </div>
    <canvas id="my-canvas"></canvas>
</section>
<script src="https://cdn.jsdelivr.net/npm/confetti-js@0.0.18/dist/index.min.js"></script>
<script src="public/js/confetti.js"></script>