<!DOCTYPE html>
<html lang="en"> 
    <head> 
        <meta charset="utf-8">
        <link rel="stylesheet" href="/public/{{style}}">
        <title>Stevens Marketplace</title>
    </head>
    <body> 
        <div class="nav"> 
            <a href="/new">New Listing</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
            <a href="/" class="active">Home</a>
        </div> 
        <h1>Stevens Marketplace</h1>
        <main> 
        {{{body}}}
        </main>
    </body>
</html>