
<!DOCTYPE html>
<html lang="en"> 
    <head> 
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
        <link rel="stylesheet"  href="/public/{{style}}">
        
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

        <!-- Favicon Icon --> 
        <link rel="icon" type="image/png" sizes="32x32" href="public/favicon_io/favicon-32x32.png"> 
        <link rel="icon" type="image/png" sizes="16x16" href="public/favicon_io/favicon-16x16.png"> 
    

        <title>Stevens Marketplace</title>
    </head>
    <body> 

        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <h5 class="my-0 mr-md-auto font-weight-normal">Stevens Marketplace</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/home">Home</a>
            <a class="p-2 text-dark" href="/newListing">New Listing</a>
            <a class="p-2 text-dark" href="/cart">Cart</a>
            <div class="dropdown">
                <button class="dropbtn"><img src = "../../public/images/profile icon.jpg"  width="25" height="25" alt ="Profile"></button>
                <div class="dropdown-content">
                <a href="#profile">Your profile</a>
                <a href="#yourListing">Your listings</a>
                </div>
            </div>
  
        </nav>
        <a class="btn btn-outline-danger" href="/logout">Logout</a>
        </div>

        <main> 
            {{{body}}}
        </main>
    </body>
</html>