<!DOCTYPE html>
<html lang="en"> 
    <head> 
        <meta charset="utf-8">
        <link rel="stylesheet" href="/public/style.css">
        <title>Stevens Marketplace</title>
    </head>
    <body> 
        <div class="nav"> 
            <a href="#news">New Listing</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
            <a href="#home" class="active">Home</a>
        </div> 
        <h1>Stevens Marketplace</h1>
        
        <main> 
        {{{body}}}
        </main>

    </body>
</html>