<div class="searchBar"> 
    <form method="POST" action="/search"> 
        <input type="text" name="text-to-test" id="search" placeholder="Find anything"/>
        <button type="submit">Search</button> 
    </form>
</div>

<!-- Currently hard coded but will query from db after setup --> 
<h4>Clothes</h4>
<div class="card">
    <div class="container">
        <h6>Clothes</h6>
        <form method="POST" action="/listingDetails"> 
            <input type="hidden">
            <button type="submit">Add to Cart</button>
        </form>
    </div>
</div>

<h4>Books</h4>
<div class="card">
    <div class="container">
        <h6>Books</h6>
        <form method="POST" action="/listingDetails"> 
            <input type="hidden">
            <button type="submit">Add to Cart</button>
        </form>
    </div>
</div>

<h4>Apartments</h4>
<div class="card">
    <div class="container">
        <h6>Apartments</h6>
        <form method="POST" action="/listingDetails"> 
            <input type="hidden">
            <button type="submit">Add to Cart</button>
        </form>
    </div>
</div>
