h1{ 
    font-size: 4em;
    letter-spacing: -.05em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.content { 
    padding:0px;
    margin: 0px;
    text-align: center;

}

body {
    text-align: center;
    overflow-x: hidden;
  }
section {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: block;
    box-sizing: border-box;
    white-space: nowrap;
  }

  #confetti {
    position: relative;
    top:0;
    left: 0;
    z-index: 1;
  }