h1{ 
    font-size: 4em;
    letter-spacing: -.05em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
h4, h5 {
  padding-left: 7px;
  font-family: 'Bebas Neue', cursive;
}
.content { 
    padding:0px;
    margin: 0px;
    text-align: center;

}

body {
    text-align: center;
    overflow-x: hidden;
  }
section {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: block;
    box-sizing: border-box;
    white-space: nowrap;
  }

  #confetti {
    position: relative;
    top:0;
    left: 0;
    z-index: 1;
  }
  .dropbtn {
      background-color:transparent;
      color: transparent;
      padding: 0px;
      border: none;
    }
    
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 100px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      font-family: 'Maven Pro', sans-serif;
      font-size: 12px;
      color: #9c2132;
      padding: 2px 4px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown-content a:hover {background-color: #ddd;}
    
    .dropdown:hover .dropdown-content {display: block;}
    
    .dropdown:hover .dropbtn {background-color: transparent}
  
  
  .jumbotron {
      background-color:white;
      margin:0px; 
      padding-bottom: 0px;
      padding: 0 0 0.75% 10%;
  
  }
  