.container {
    max-width: 960px;
  }
  
.lh-condensed { 
    line-height: 1.25; 
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
}
}

.billing-container{ 
    margin: 1% 10% 10px 10%;
}

.jumbotron {
    background-color:white;
    margin:0px; 
    padding-bottom: 0px;
    padding: 0 0 0.75% 10%;

}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    font-family: 'Maven Pro', sans-serif;
    font-size: 12px;
    color: #9c2132;
    padding: 2px 4px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: transparent}

  .promocode{
    color:#006400 ;
}

.text-muted{ 
    color: rgb(108, 117, 125);

}

.card-footer{ 
    background-color: rgba(0, 0, 0, 0);
}

.text-success{ 
    color: rgb(108, 117, 125);
}
