<table >
    <tr>
        <td>
            <section>
                <div class="container">
                    <img src="{{productData.image}}" onerror="this.src='../../public/images/none.png'"/>
                    <p>
                        {{productData.productName}}
                    </p>
                    <p>
                        {{productData.description}}
                    </p>
        
                    <button class="buyButton">
                        {{productData.price}}
                    </button>
                </div>
            </section>
        </td>

    </tr>
    
</table>

