<p class = "profile">Your Profile<p>
<div class = "info">
<p class = "username"> Username: {{user.username}}</p>
<p class = "email">Email: {{email}}</p>
<p class = "bought"> Previously Bought: {{history}} </p>
<p class = "fav">Favorite Listings: {{fav}} </p>
</div>