<div class = "sidenav">
<img src = "../../public/images/profile icon.jpg"  width="50" height="50" alt ="Profile">
<p class = "username"> {{user.username}}</p>
<p class = "email"> {{email}}</p>
</div>
<div class = "info">
<p class = "bought"> Previously Bought: {{history}} </p>
<p class = "fav">Favorite Listings: {{fav}} </p>
</div>