<form method="POST" action="/login" id="user-form">

  <label for="contactInfo">Email:</label>
  <input type="text" id="contactInfo" name="contactInfo"><br><br>
  
  <label for="password">Password:</label>
  <input type="password" id="password" name="password"><br><br>

 

  <button type="submit">Login!</button>

</form>
<a href="/createAccount">Or Sign Up Here</a>