<div class = "title">
  <h1 >Stevens Marketplace</h1>
  <p class="lead">One stop shop for anything Stevens related</p>
</div>
<div class="loginContainer">
  <form method="POST" action="/login" id="user-form">

    <label for="contactInfo">
      Email:
    </label>
    <input type="text" id="contactInfo" name="contactInfo"  placeholder="Email"><br><br>
    
    <label for="password">
        Password
    </label>
    <input type="password" id="password" name="password" placeholder="Password"><br><br>


    <button type="submit" class="btn btn-danger">Login!</button>
    <br>
    <a href="/createAccount" class="signUpLink">Or Sign Up Here</a>
    <p style="errorMsg">
      {{errorMsg}}
    </p>
  </form>
</div>
<script src = "../../public/js/loginValidation.js "></script>

