<div class = "title">
  <h1>Sign Up</h1>
</div>

<div class="loginContainer">

  <form method="POST" action="/createUser" id="user-form">

      {{!-- name, password, hasBought, favProducts, contactInfo --}}
    
    <input type="text" id="name" name="name" placeholder="Name"><br><br>

    
    <input type="text" id="contactInfo" name="contactInfo"  placeholder="Email"><br><br>

    
    <input type="password" id="password" name="password" placeholder="Password"><br><br>

  

    <button type="submit" class="btn btn-danger">Create Account!</button>
    <br>
    <a href="/login" class="signUpLink">Or Login Here</a>

    <p class="errorMsg">
      {{errorMsg}}
    </p>
  </form>
</div>