<form method="POST" action="/createUser" id="user-form">

    {{!-- name, password, hasBought, favProducts, contactInfo --}}
  <label for="product">Full Name:</label>
  <input type="text" id="name" name="name"><br><br>

  <label for="contactInfo">Email:</label>
  <input type="text" id="contactInfo" name="contactInfo"><br><br>

  <label for="password">Password:</label>
  <input type="password" id="password" name="password"><br><br>

 

  <button type="submit">Create Account!</button>
</form>

<a href="/login">Or Login Here</a>